"""
Amazon Fine Food Reviews Analysis
#Context
This dataset consists of reviews of fine foods from amazon. The data span a period of more than 10 years, including all ~500,000 reviews up to October 2012. Reviews include product and user information, ratings, and a plain text review. It also includes reviews from all other Amazon categories.

 Information about dataset
 Reviews from Oct 1999 - Oct 2012
 568,454 reviews
 256,059 users
 74,258 products
 260 users with > 50 reviews
 Attribution Information
1. ID
2. ProductId
3. UserId
4. ProfileName
5. HelpfulnessNumerator - Number of users who found the review helpful
6. HelpfulnessDenominator - Number of users who indicated whether they found the review helpful or not
7. Score - Rating between 1 and 5 ****
8. Time - Timestamp for the review
9. Summary - Brief summary of the review
10. Text - Text of the review *****
"""

In [2]:
import os,sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')


import sqlite3
import nltk
import string

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

from nltk.corpus import stopwords

# Reading Data

In [3]:
conn =sqlite3.connect('database.sqlite')
conn

In [4]:
cursor=conn.cursor()

In [10]:
cursor.execute("""SELECT * FROM REVIEWS WHERE Score !=3""",conn)
results=cursor.fetchall()

OperationalError: no such table: REVIEWS

In [9]:
#SQL:

filtered_data=pd.read_sql_query("""Select *from reviews score !=3 """, con)
filtered_data.shape

DatabaseError: Execution failed on sql 'Select *from reviews score !=3 ': near "!=": syntax error